/**
 * Pass in a string and return a media query wrapping
 * the style block
 * 
 * @param  {[type]} $breakpoint [description]
 * @return {[type]}             [description]
 */
@mixin breakpoint($breakpoint) {
	@if $breakpoint == 'tiny' {
		@media (min-width: $tiny) {
			@content;
		}
	} @else if $breakpoint == 'narrow' {
		@media (min-width: $narrow) {
			@content;
		}
	} @else if $breakpoint == 'medium' {
		@media (min-width: $medium) {
			@content;
		}
	} @else if $breakpoint == 'wide' {
		@media (min-width: $wide) {
			@content;
		}
	} @else if $breakpoint == 'wider' {
		@media (min-width: $wider) {
			@content;
		}	
	} @else if $breakpoint == 'reallywide' {
		@media (min-width: $reallywide) {
			@content;
		}
	}
}

@mixin background-gradient($background, $top, $bottom) {
	background: $background;
	background: -moz-linear-gradient(top, $top 0%, $bottom 100%); 
	background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); 
	background: -o-linear-gradient(top, $top 0%, $bottom 100%); 
	background: -ms-linear-gradient(top, $top 0%, $bottom 100%); 
	background: linear-gradient(to bottom, $top 0%, $bottom 100%); 	
}