// define breakpoint sizes by 
$tiny: 320px; // 20em
$narrow: 768px; // 48em
$medium: 960px; //60em
$wide: 1120px; // 70em
$wider: 1440px; // 70em
$reallywide: 1600px; // 100em

// import mixins
@import '../bower_components/compass-mixins/lib/compass/utilities/general/clearfix';
@import 'mixins';

body {
	margin: 0;
	background: #cacaca;
	line-height: 1.4em;
}

.container {
	margin: 0 15px;
}

.wc-story-container {
	@include clearfix();
	margin: 0 -15px;
}

.wc-story {
	// default to 
	padding: 0 15px;
	margin-bottom: 20px;
	
	@include breakpoint('wide') {
		float: left;
		width: 320px;	
	}

	@include breakpoint('wider') {
		float: left;
		width: 425px;	
	}
	
	&.wc-story--large {
		@include breakpoint('reallywide') {
			width: 640px;
		}
	}
	
}

// boxy container look on top of grey background
.wc-story__block {
	@include clearfix();
	@include background-gradient(#fafafa, #cccccc, #ffffff);
	border: 1px solid #999999;

	.block__content {

		@include breakpoint('tiny') {
			padding: 0 20px 20px;
		}

		@include breakpoint('medium') {
			padding: 0 10px 10px;
		}

		ol li {
			margin-bottom: 10px;
		}
	
		// stories with long urls
		word-break: break-word;
	}
}

// make image max-width to container
.img-responsive {
	margin: 0 auto;
	display: block;
	max-width: 100%;
	height: auto;
}